*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100svh;
  font-size: 1.3rem;
  font-family: sans-serif;
}

.example {
  width: 90%;
  background-color: steelblue;
  margin: 5em auto;
  padding: 10em 0;
}

/*! Agar teenon rahe tho pehle max-width overwrite karlega 1200px. 1200px k baad min-width 800px wala kaam karega..!!! */

/* 600px or bigger */
/* @media (min-width: 600px) {
  .example {
    background-color: red;
  }
} */

/* 900px or bigger */
@media (min-width: 800px) {
  .example {
    background-color: blue;
  }
}
@media (max-width: 1200px) {
  .example {
    background-color: green;
  }
}

